<div class="height-setter"></div>

<section>
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>Work</h5>
                    <h2>With Us</h2>
                    <p class="mt-4">As with all organization’s, our success stems from the quality of people working in our team. As such we work hard to recruit the best people and train them to deliver the best services and ongoing support to our clients. <br> We’re
                        expanding quickly and are always looking for talented new people. Here you can see a list of current vacancies and opportunities. Alternatively, if there’s nothing immediately available, send us your CV at india@med-tech.com and
                        we’ll get in touch if an appropriate position arises
                    </p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/career.svg" alt="">
            </div>
        </div>
    </div>
</section>