<div class="text-light px-4 pb-4" style="background-color: #2d2d2d">
    <div class="container">
        <div class="row mx-0">
            <div class="col-sm-6 middler pt-5">
                <div>
                    <h2>Contact</h2>
                    <p class="mt-4">We’re always looking to hear from our customers. If you have a question or want support with one of our products, don’t hesitate to get in touch. Our team will be on hand to answer any questions or resolve issues you might have
                    </p>
                </div>
            </div>
            <div class="col-sm-5 offset-md-1 middler pt-5">
                <h6><b>Medtech Remedies Pvt Ltd</b><br> 60/8-B(2B), Mercy Batiment, 2nd floor,<br> Kizhavana Road, Panampilly Nagar,<br> Kochi- 682036 <br> +91 484 4052525 <br> india@med-tech.com
                </h6>
            </div>
        </div>
    </div>
</div>


<div class="text-center py-3" style="font-size: 12px;color:#a5a5a5;background-color: rgb(24, 24, 24);">© 2019 POWERED BY CREOPEDIA</div>