<div class="height-setter"></div>

<section>
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h2>Our Chairman's Message</h2>
                    <p class="mt-4">40 years ago, I envisaged a vision to excel in the field of Medical and Laboratory business catering to the Qatar market. Today Medtech is a company with a mission and vision to bring the very best products and services to Qatar’s
                        growing healthcare, science and technology sector. My vision and mission remain the same to date in the ever-growing field of healthcare in Qatar. The success of our business model has seen our business grow rapidly into one of
                        the leading providers of healthcare, industrial and lab equipment in Qatar and beyond. Using our international reach we’ve brought the world’s cutting-edge medical technology and delivered it to our clients with best possible satisfaction.
                        None of this would have been possible without the skill and dedication of our team. Their commitment to achieving excellence in everything they do is one of the key reasons why Medtech had gained such an enviable reputation. We
                        have achieved great heights with the grace of Almighty God and we believe that this is just tip of an iceberg, we have a long way to go and the world is full of opportunities. <br><br><b>Dr.
                            M P Hassan Kunhi PH.D <br>Chairman & CEO </b></p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/wed2.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section style="background-color: #eaeaea">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h2>Who We Are</h2>
                    <p class="mt-4">Medtech is the India’s fast growing provider of health care products and services to office- based dental &amp; medical equipment’s. The company also serves dental laboratories, government and institutional health care clinics, and
                        other alternate healthcare center’s. <br> Medtech offers a comprehensive selection of products and services, including value added solutions for operating efficient practices and delivering high quality care. Medtech operates through
                        a centralized and automated distribution network, with multi branded products. We also offer our customers exclusive, innovative technology solutions, including image viewing software and e-solutions <br> We are widely recognized
                        for our excellent customer service and our innovative value-added solutions. Medtech is dedicated to helping its customers succeed by offering the products and services needed for operating an efficient practice and consistently
                        delivering high quality health care. <br> Our passion to excel ensures that we will continue to provide our customers with world-class products and excellent services.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/about.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="section-bg">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h2>Our Principles</h2>
                    <p class="mt-4 mb-4">We care very deeply about the communities we serve. Our success drives your success, which is why we strive to be the best at what we do.</p>

                    <h5>Excellence:</h5>
                    <p class="mt-2">We’re committed to providing the rapidly growing medical and dental science sector with the best equipment and expertise available.</p>

                    <h5>Growth:</h5>
                    <p class="mt-2">Ever since our inception we have grown rapidly. We are constantly eyeing the next target to offer a better, more effective service for our customers.</p>

                    <h5>Quality and dedication:</h5>
                    <p class="mt-2">We believe in the highest quality in everything we do – whether it’s providing the best equipment, latest technology or offering market-leading customer service.</p>

                    <h5>Teamwork:</h5>
                    <p class="mt-2">Our success stems from the quality of our team. We recruit the best and give them all the tools they need to thrive.</p>

                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/list2.svg" alt="">
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row mx-0 pb-5">
        <div class="col-sm-8 middler pt-5">
            <div>
                <h2>Our Mission</h2>
                <p class="mt-4">We are driven by a desire to achieve the highest quality in everything we do. Our dedicated team is determined to provide the expanding science and healthcare sector with the best quality and products. Every detail counts – and by excelling
                    at every stage we provide you the tools to do the best for your customers.
                </p>
            </div>
        </div>
        <div class="col-sm-4 middler py-5">
            <img class="w-100 ml-auto" src="assets/img/mission.svg" alt="">
        </div>
    </div>
</div>


<section style="background-color: #eaeaea">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h2>Our Vision</h2>
                    <p class="mt-4">We believe in achieving growth and success. From our inception we grew rapidly, expanding our services and product offering. We aim to become the number one provider of medical, dental and laboratory equipment in the India and beyond,
                        and to set new standards in the quality of service we deliver.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 middler px-0 py-5">
                <img class="w-100 ml-auto" src="assets/img/vision.svg" alt="">
            </div>
        </div>
    </div>
</section>