<div class="height-setter">
</div>

<section class="min-height">

    <div class="container pt-5 pb-4">
        <div *ngIf="namez">
            <h3 class="mb-4 bg-text" *ngIf="namez">{{namez}}</h3>
        </div>
        <div *ngIf="description && description.length > 0">
            <div *ngFor="let des of description">
                <h5 class="mb-2 bg-text">{{des.head}}</h5>
                <p>{{des.des}}</p>
            </div>
        </div>
        <div *ngIf="description && description.length == 0">
            <!-- no desc -->
        </div>
        <div *ngIf="products && products.length > 0">
            <h3 *ngIf="products.length == 0" class="mt-3">No Data</h3>
            <div class="row mx-0" *ngIf="products.length > 0">

                <div class="col-lg-6 p-2 mt-3" *ngFor="let prod of products">
                    <div class="card">
                        <div class="row mx-0">
                            <div class="col-md-5 middler">
                                <img class="w-100 prod_img" [src]="img_url + prod.image" alt="" *ngIf="prod.image">
                            </div>
                            <div class="col-md-7 py-3 middler">
                                <div class="w-100">
                                    <h5>{{prod.name}}</h5>
                                    <div style="" class="feature_div">
                                        <div style="list-style: circle;font-size: 13px;" *ngFor="let x of prod.feature">
                                            <li *ngIf="x != ''">{{x}}</li>
                                        </div>
                                    </div>

                                    <div>
                                        {{prod.short_des}}
                                    </div>
                                    <h6 class="mt-3 text-danger" *ngIf="prod.org_price !=''" [ngStyle]="{'text-decoration':prod.price != '' ? 'line-through' : '' }" [innerHtml]="'&#8377;&nbsp;' + addComma(prod.org_price)"></h6>
                                    <h6 class="mt-3 text-success" *ngIf="prod.price != ''" [innerHtml]="'&#8377;&nbsp;' + addComma(prod.price)"> </h6>
                                    <h6 class="mt-3" *ngIf="prod.price == '' && prod.org_price == ''">Price Not Specified</h6>
                                    <div class="mt-3">
                                        <button class="btn btn-success btn-sm w-100" [routerLink]="['/single']" [queryParams]="{id: prod.id}"><i class="fa fa-hand-o-right mr-1" aria-hidden="true"></i> View More / Buy Now</button>
                                    </div>
                                    <div class="row mx-0 mt-2">
                                        <div class="col-6 pl-0 pr-2">
                                            <button class="btn btn-warning cursor-not btn-sm w-100" [disabled]="prod.price == '' || prod.price > 500000" (click)="qty(prod.id,prod.name,prod.image)">Add to Cart</button>
                                        </div>
                                        <div class="col-6 pr-0 pl-2">
                                            <a target="blank" [href]="link" target="_blank" class="btn btn-secondary btn-sm w-100">Vendor Site</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

<!-- qty modal -->
<div class="modal fade" id="qtymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">{{name_modal}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-0 box-view py-3 rounded">
                    <div class="col-5 px-0"><img style="height: 100px;object-fit: contain;" *ngIf="photo_modal" [src]="img_url + photo_modal" alt="" class="w-100" /></div>
                    <div class="col-7 pr-0">
                        <h5><b>{{name_modal}}</b></h5>
                        <div><small>Quantity</small></div>
                        <input style="width: 100px;" [(ngModel)]="quantity" min="1" oninput="validity.valid||(value='');" type="number" class="form-control">
                    </div>
                </div>
                <div class="w-100 text-right">
                    <button class="btn btn-dark mt-3" data-dismiss="modal" (click)="addtocart()">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- result popup -->
<div class="modal fade" id="cart_res-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto my-4 mx-2">
                <h5 style="text-align: center;" [ngClass]="{'text-success':cart_res === 'Added to Cart', 'text-danger':cart_res === 'Add to cart error'}"><b> {{cart_res}} </b></h5>
                <button type="button" class="close position-absolute" style="top:5px;right: 10px;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>