<nav style="background-color: #F8F9FA;border-bottom: 1px solid #3d3d3d30;">
    <div>
        <div class="row mx-auto container">
            <div class="col-xl-3 col-lg-2 col-md-12 col-10 px-0 middler pb-1 pb-md-0 py-md-2">
                <a class="mx-md-auto mx-lg-0" routerLink="/">
                    <img class="bg-light px-3 py-2" style="width: 175px" src="assets/img/logo2.png" alt="">
                </a>
            </div>

            <div class="col-2 px-1 middler d-flex d-md-none justify-content-end">
                <div class="mob-menu" data-toggle="collapse" href="#mob-nav"><i class="fa fa-bars pl-2 py-2" aria-hidden="true"></i></div>
            </div>
            <!-- <div class="collapse w-100" id="mob-nav">
                <div class="card rounded-0 mb-2">
                    <ul class="mob-nav-hover text-center p-1">
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/">Home</a></li>
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/about">About</a></li>
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/products">Products</a></li>
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/partners">Partners</a></li>
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/careers">Careers</a></li>
                        <li><a class="text-dark d-block py-1 border-bottom" routerLink="/contact">Contact</a></li>
                        <li *ngIf="!loggedin"><a class="text-dark d-block py-1" data-toggle="modal" data-target="#login-modal" href="#">Login</a></li>
                        <li *ngIf="loggedin" class="py-3" id="log_out">Hi <span class="text-danger"><b>{{username}}</b></span></li>
                        <li *ngIf="loggedin" (click)="medlogout()"><a class="text-dark d-block py-1 border-top" href="#">Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> -->

            <div class="col-xl-9 col-lg-10 px-0 d-none d-md-flex justify-content-md-center justify-content-lg-end middler py-2">
                <div class="row mx-0">
                    <div class="px-2 px-lg-0 pr-lg-4"><a routerLink="/">Home</a></div>
                    <div class="px-2 px-lg-0 pr-lg-4"><a routerLink="/about">About</a></div>
                    <ul class="px-2 px-lg-0 pr-lg-4">
                        <!-- <li>
                            <div style="cursor: pointer;" (mouseover)="getlist()">Products <i class="fa fa-caret-down ml-0" aria-hidden="true"></i></div>
                            <ul class="coor">
                                <li class="py-1 border-bottom" routerLink="/subprod"><a>All Products</a></li>
                                <span *ngFor="let l of list">
                                    <li class="py-1 border-bottom" (mouseenter)="getsublist(l.pk)" (click)="routeTosub(l.pk)" style="outline: none;">
                                        <a style="display:block;">{{l.fields.name}}</a>
                                        
                                            <ul *ngIf="subcatDetails.length > 0">
                                                <li  *ngFor="let subcat of subcatDetails" class="py-1 border-bottom" ><a (click)="subroute(subcat.pk)" >{{subcat.fields.name}}</a></li>
                                            </ul>                                    
                                        
                                    </li>
                                </span>
                            </ul>
                        </li> -->
                        <li>
                            <div style="cursor: pointer;">Products <i class="fa fa-caret-down ml-0" aria-hidden="true"></i></div>
                            <ul class="coor">
                                <li class="border-bottom" style="outline: none;" routerLink="/subprod"><a class="d-block py-1">All Products</a></li>
                                <span *ngFor="let menu of menulist">
                                    <li class="border-bottom"
                                        (mouseenter)="showSubmenu[menu.id]=!showSubmenu[menu.id]"
                                        (mouseleave)="showSubmenu[menu.id]=!showSubmenu[menu.id]"
                                        style="outline: none;">
                                        <a class="d-block py-1" (click)="subroute(menu)">{{menu.name}}</a>
                                        <ul *ngIf="menu.child && menu.child.length > 0 && showSubmenu[menu.id]">
                                            <li class="border-bottom" *ngFor="let submenu of menu.child">
                                                <a class="d-block py-1" (click)="subsubmenu(submenu)">{{submenu.name}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </span>
                            </ul>
                        </li>


                    </ul>
                    <div class="px-2 px-lg-0 pr-lg-4"><a routerLink="/partners">Partners</a></div>
                    <div class="px-2 px-lg-0 pr-lg-4"><a href="http://www.med-tech.com/">Medtech Global</a></div>
                    <div class="px-2 px-lg-0 pr-lg-4"><a routerLink="/careers">Careers</a></div>
                    <div class="px-2 px-lg-0 pr-lg-4"><a routerLink="/contact">Contact</a></div>
                    <div *ngIf="!loggedin" class="px-2 px-lg-0"><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login</a>
                    </div>
                    <ul *ngIf="loggedin" class="pl-2 px-lg-0 pr-lg-4">
                        <li>
                            <div style="cursor: pointer;">Hi <span class="text-danger"><b>{{username}}</b></span> <i class="fa fa-caret-down ml-1" aria-hidden="true"></i></div>
                            <ul class="coor">
                                <li class="border-bottom"><a class="d-block py-1" href="" data-toggle="modal" data-target="#change-modal">Change Password</a></li>
                                <li id="log_out" (click)="medlogout()"><a class="d-block py-1">Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</nav>

<!-- login-modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto">
                <h4 class="text-center text-secondary mt-4">User Login</h4>
                <div class="mt-4">
                    <input class="form-control" [(ngModel)]="logname" (ngModelChange)="validateEmail()" type="text" placeholder="Email">
                    <span *ngIf="emailError" class="errorMsg">Error in Email.</span>
                </div>
                <div class="mt-3">
                    <input class="form-control" [(ngModel)]="logpass" type="password" (ngModelChange)=validatePass() placeholder="Password">
                    <span *ngIf="passError" class="errorMsg">Error in Password.</span>
                </div>
                <div class="mt-3">
                    <button class="btn btn-dark w-100" (click)="medlog()" type="submit">Login <i class="fa fa-sign-in"
                            aria-hidden="true"></i></button>
                    <span *ngIf="loginError" class="errorMsg">Invalid Credentials</span>
                </div>
                <div class="row mx-0">
                    <div class="col-6 px-0">
                        <div class="text-left small-text my-3">
                            Not Registered? <br> <a class="text-dark" href="#" data-dismiss="modal" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <div class="text-right small-text my-3">
                            Forgot Password? <br> <a class="text-dark" href="#" data-dismiss="modal" data-toggle="modal" data-target="#forgotpass-modal"><i class="fa fa-key" aria-hidden="true"></i> Click here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- signup pass modal  -->
<div class="modal fade" id="signup-modal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto">
                <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="medtest()" #formDir="ngForm">
                    <h4 class="text-center text-secondary mt-4">Signup</h4>
                    <div class="mt-3">
                        <input class="form-control" formControlName="name" id="name" type="text" placeholder="Name" minlength="4">
                        <span *ngIf="registerForm.controls['name'].errors && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched) || (registerForm.controls['name'].errors && formDir.submitted)">
                            <span class="errorMsg" *ngIf="registerForm.controls['name'].errors?.required">Name required</span>
                        <span class="errorMsg" *ngIf="registerForm.controls['name'].errors?.minlength">Name must be atleast 3 characters long</span>

                        </span>
                    </div>
                    <div class="mt-3">
                        <input class="form-control" formControlName="tel" type="tel" placeholder="Mobile Number">
                        <span *ngIf="(registerForm.controls['tel'].errors && (registerForm.controls['tel'].dirty || registerForm.controls['tel'].touched)) || (registerForm.controls['tel'].errors && formDir.submitted)">
                            <span class="errorMsg" *ngIf="registerForm.controls['tel'].errors?.required">Phone number is required</span>
                        <span class="errorMsg" *ngIf="registerForm.controls['tel'].errors?.minlength || registerForm.controls['tel'].errors?.maxlength">Please provide a valid phone number</span>
                        </span>
                    </div>
                    <div class="mt-3">
                        <input class="form-control" formControlName="email" type="email" placeholder="Email">
                        <span *ngIf="registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched) || (registerForm.controls['email'].errors && formDir.submitted)">
                            <span class="errorMsg" *ngIf="registerForm.controls['email'].errors?.required">Email is required</span>
                        <span class="errorMsg" *ngIf="registerForm.controls['email'].errors?.pattern">Please provide a valid email!</span>
                        </span>

                    </div>
                    <div class="mt-3">
                        <div class="form-group d-flex" id="show_hide_password">
                            <input class="form-control" formControlName="password" type="password" placeholder="Password">

                            <div class="input-group-addon">
                                <button class="btn btn-light"><i class="fa fa-eye-slash"
                                    style="color: #2d2d2d;"></i></button>
                            </div>

                        </div>
                        <span *ngIf="registerForm.controls['password'].errors && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched) ||  (registerForm.controls['password'].errors && formDir.submitted)">
                            <span class="errorMsg" *ngIf="registerForm.controls['password'].errors?.required">Password is required</span>
                        <span class="errorMsg" *ngIf="registerForm.controls['password'].errors?.minlength">Password must be 6 characters long, we need another {{registerForm.controls['password'].errors.minlength.requiredLength
                            - registerForm.controls['password'].errors.minlength.actualLength}} characters
                            </span>
                        </span>
                    </div>
                    <div class="mt-3">
                        <div class="form-group d-flex" id="show_hide_password-re">
                            <input class="form-control" formControlName="confirmPassword" type="password" placeholder="Re-type Password">
                            <div class="input-group-addon">
                                <button class="btn btn-light"><i class="fa fa-eye-slash"
                                    style="color: #2d2d2d;"></i></button>
                            </div>
                        </div>
                        <span *ngIf="registerForm.controls['confirmPassword'].errors && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched) || (registerForm.controls['confirmPassword'].errors && formDir.submitted)">
                            <span class="errorMsg" *ngIf="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].errors?.required">Password is required</span>

                        </span>

                        <span class="errorMsg" *ngIf="passwordMismatch">Password mismatch</span>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-dark w-100 cursor-pointer" type="submit" [disabled]="registerForm.invalid">Signup <i
                            class="fa fa-sign-in"></i></button>
                    </div>
                    <div class="text-center small-text my-3">
                        <a class="text-dark" href="#" data-dismiss="modal" data-toggle="modal" data-target="#login-modal" type="submit"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- change password -->
<div class="modal fade" id="change-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto">
                <h4 class="text-center text-secondary mt-4">Change Password</h4>
                <div class="mt-4">
                    <input class="form-control" type="password" [(ngModel)]="oldpass" placeholder="Old password">
                </div>
                <div class="mt-3">
                    <input class="form-control" type="password" [(ngModel)]="newpass" placeholder="New Password">
                </div>
                <div class="mt-3">
                    <input class="form-control" type="password" [(ngModel)]="newrepass" placeholder="Re-enter New Password">
                </div>
                <div class="mt-3 mb-4">
                    <button class="btn btn-dark w-100" (click)="changepass()" type="submit" data-dismiss="modal" data-toggle="modal" data-target="#result-modal">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- forgotpass -->
<div class="modal fade" id="forgotpass-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto">
                <h4 class="text-center text-secondary mt-4">Forgot Password?</h4>
                <div class="custom-control custom-radio mt-3">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Otp will be send to <b>Email</b></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Otp will be send to <b>Phone</b> </label>
                </div>
                <div class="mt-4">
                    <input class="form-control" type="text" placeholder="Old password">
                </div>
                <div class="mt-3 mb-4">
                    <button class="btn btn-dark w-100" type="submit" data-dismiss="modal" data-toggle="modal" data-target="#result-modal">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- result popup -->
<div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="w-85 mx-auto my-4 mx-2">
                <h5 style="text-align: center;" [ngClass]="{'text-success':dispmssg === 'Password Change Success', 'text-danger':dispmssg === 'Not loggedin!!!', 'text-danger':dispmssg === 'Passwords doesnot match', 'text-danger':dispmssg === 'empty input fields'}"><b> {{dispmssg}} </b></h5>
                <button type="button" class="close position-absolute" style="top:5px;right: 10px;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="viewMsg_fail" class="alert alert-danger alert-dismissible fade show set-pos-alert" role="alert">
    <strong>{{alert_message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
                        </button>
</div>

<div *ngIf="viewMsg_success" class="alert alert-success alert-dismissible fade show set-pos-alert" role="alert">
    <strong>{{alert_message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>