.errorMsg {
    padding-left: 15px;
    color: red;
}

.cardxx {
    box-shadow: 0px 0px 5px 0px #00000030;
    transition: transform .2s;
}

.cardxx:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.text-danger1 {
    color: red;
}

.text-danger2 {
    color: red;
}