<div class="height-setter">
</div>

<section>
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>For</h5>
                    <h2>Enquiry</h2>
                    <p class="mt-4">We’re always looking to hear from our customers. If you have a question or want support with one of our products, don’t hesitate to get in touch. Our team will be on hand to answer any questions or resolve issues you might have
                    </p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/contact.svg" alt="">
            </div>
        </div>
    </div>
</section>

<div class="address-section">
    <div class="address-box p-3 mx-auto">
        <div class="text-center">
            <b>Medtech Remedies Pvt Ltd</b><br> 60/8-B(2B), Mercy Batiment, 2nd floor,<br> Kizhavana Road, <br> Panampilly Nagar, <br> Kochi- 682036 <br> +91 484 4052525 <br> india@med-tech.com
        </div>
    </div>
</div>

<section style="background-color: #eaeaea">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>Effectively</h5>
                    <h2>Manage your clinic</h2>
                    <p class="mt-4">Unlike other providers, our work doesn’t stop when you’ve made a purchase. Our friendly team of engineers and application specialists can provide ongoing technical support, advice and an annual maintenance contract. All have been trained
                        by the manufacturers of our products to meet their own exacting standards. <br> To find out more about the products we offer, get in touch. Our team will be happy to help.</p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/manage.svg" alt="">
            </div>
        </div>
    </div>
</section>