<div class="height-setter">
</div>

<section>
    <div class="container pt-5 pb-4">
        <h6>We are the authorised distributors for W&amp;H products in India for their comprehensive range of products for</h6>
        <h4 class="mt-4 bg-text">Restorations &amp; Prosthetics</h4>

        <div class="row mx-0 pt-3">
            <div class="col-md-6 col-lg-4 p-2 pb-5">
                <div class="card-main-prod2 middler rounded" routerLink="/subprod">
                    <div class="w-100 position-relative">
                        <div class="text-center bgxx2 py-1">Turbines</div>
                        <!-- <div class="row mx-0 p-1 bottom-fixer">
                            <div class="col-6 p-1">
                                <button class="btn btn-success btn-sm w-100" routerLink="/subprod">More Info</button>
                            </div>
                            <div class="col-6 p-1">
                                <a href="" class="btn btn-dark btn-sm w-100">Vendor Site</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 p-2 pb-5">
                <div class="card-main-prod2 middler rounded" routerLink="/subprod">
                    <div class="w-100 position-relative">
                        <div class="text-center bgxx2 py-1">Straight & Contra-angle Handpieces</div>
                        <!-- <div class="row mx-0 p-1 bottom-fixer">
                            <div class="col-6 p-1">
                                <button class="btn btn-success btn-sm w-100" routerLink="/subprod">More Info</button>
                            </div>
                            <div class="col-6 p-1">
                                <a href="" class="btn btn-dark btn-sm w-100">Vendor Site</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 p-2 pb-5">
                <div class="card-main-prod2 middler rounded" routerLink="/subprod">
                    <div class="w-100 position-relative">
                        <div class="text-center bgxx2 py-1">Couplings</div>
                        <!-- <div class="row mx-0 p-1 bottom-fixer">
                            <div class="col-6 p-1">
                                <button class="btn btn-success btn-sm w-100" routerLink="/subprod">More Info</button>
                            </div>
                            <div class="col-6 p-1">
                                <a href="" class="btn btn-dark btn-sm w-100">Vendor Site</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 p-2 pb-5">
                <div class="card-main-prod2 middler rounded" routerLink="/subprod">
                    <div class="w-100 position-relative">
                        <div class="text-center bgxx2 py-1">Couplings</div>
                        <!-- <div class="row mx-0 p-1 bottom-fixer">
                            <div class="col-6 p-1">
                                <button class="btn btn-success btn-sm w-100" routerLink="/subprod">More Info</button>
                            </div>
                            <div class="col-6 p-1">
                                <a href="" class="btn btn-dark btn-sm w-100">Vendor Site</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>