<div class="height-setter">
</div>

<section>
    <div class="container pt-5 pb-4" *ngIf="subcategory">
        <div class="d-flex justify-content-between mt-3">
            <h3 class="bg-text">{{subcategory[0].main_cat}}</h3>
            <div class="mb-3">
                <a class="btn btn-dark" target="blank" href="{{link}}">Vendor Site</a>
            </div>
        </div>
        <div *ngFor="let des of description">
            <h5 class="mb-2 bg-text">{{des.head}}</h5>
            <p>{{des.des}}</p>
        </div>

        <div class="row mx-0 pt-3">
            <div class="col-md-6 col-lg-4 col-xl-3 p-2 pb-5" *ngFor="let data of subcategory">
                <div class="card-main-prod2 middler rounded border" (click)="gotoproducts(data.id)">
                    <div class="w-100 position-relative">
                        <div class="text-center bgxx2 py-1">{{data.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>