<div class="height-setter">
</div>

<section>
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>Our</h5>
                    <h2>Business Partners</h2>
                    <p class="mt-4">We believe in excellence through collaboration. Over the last 40 years we’ve developed excellent partnership with world renowned brands. These partnerships enable us to best products and services and cutting edge technology to our
                        committed customers.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/partner.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section style="background-color: #eaeaea">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>AFTERSALES</h5>
                    <h2>Ongoing support</h2>
                    <p class="mt-4">Unlike other providers, our work doesn’t stop when you’ve made a purchase. Our friendly team of engineers and application specialists can provide ongoing technical support, advice and an annual maintenance contract. All have been trained
                        by the manufacturers of our products to meet their own exacting standards. <br> To find out more about the products we offer, get in touch. Our team will be happy to help.</p>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/support.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="section-bg">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h2>Companies</h2>
                    <div class="row mx-0 mt-3">
                        <div class="col-sm-6">
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/Planmeca_logo.jpg" alt="">
                            </div>
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/WH_Logo.jpg" alt="">
                            </div>
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/Cattani Logo.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/Dental_Art_logo.png" alt="">
                            </div>
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/Acteon_logo.png" alt="">
                            </div>
                            <div class="partner-card p-3 mb-3">
                                <img class="w-100" src="assets/img/partners/Mectron Logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 middler pt-5">
                <img class="w-100 ml-auto" src="assets/img/list2.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section style="background-color: #eaeaea">
    <div class="container">
        <div class="row mx-0 pb-5">
            <div class="col-sm-8 middler pt-5">
                <div>
                    <h5>PROFESSIONAL</h5>
                    <h2>Trainings</h2>
                    <p class="mt-4">We do well, when you do well, which is why we provide all the training and advice you need to stay ahead of the curve. <br> Our experts are on hand to provide training and support to help you build your skills and product awareness.
                        Throughout the year we conduct roundtable discussions, seminars and educational training sessions. We also attend major industry conferences where our experts can help with any advice you need. <br> Our friendly team of experts
                        can run sessions on your premises or in our manufacturer training facilities to keep you up to date on the latest technology in the market. <br> Technology is evolving rapidly, and we can provide crucial gains in your service offerings.
                        We help you to learn about the latest products on the market, and how you can best integrate them into your facility.</p>
                </div>
            </div>
            <div class="col-sm-4 middler px-0 py-5">
                <img class="w-100 ml-auto" src="img/train.svg" alt="">
            </div>
        </div>
    </div>
</section>