<div class="height-setter">
</div>
<section>
    <div class="container d-flex middler" style="height: 60vh;">
        <div class="cardx bg-white px-5 py-4 mx-auto">
            <h6 class="text-center text-dark">Enter 4 Digit <b> OTP </b> Code send to <b> 9947791911 </b></h6>

            <div>
                <input type="number" class="form-control mx-auto my-3" style="width: 100px;">
            </div>

            <div class="text-center d-flex">
                <button class="btn btn-danger w-50 mr-2">Resend OTP</button>
                <a routerLink="/paymode" class="btn btn-success w-50">Verify OTP</a>
            </div>
        </div>
    </div>
</section>